[Unit]
Description=Anaconda Installer Daemon
After=network.target
After=anaconda-init.target

[Service]
Type=forking
Environment=HOME=@ROOT_HOME@ MALLOC_CHECK_=2 MALLOC_PERTURB_=204 PATH=/usr/bin:/bin:/sbin:/usr/sbin:/mnt/sysimage/bin:/mnt/sysimage/usr/bin:/mnt/sysimage/usr/sbin:/mnt/sysimage/sbin LANG=en_US.UTF-8 GDK_BACKEND=x11 XDG_RUNTIME_DIR=/tmp GIO_USE_VFS=local
WorkingDirectory=@ROOT_HOME@
ExecStart=/usr/bin/screen -dmS anaconda-init /usr/sbin/anaconda-init start

[Install]
WantedBy=multi-user.target
