## Example installer.conf

## Don't ask user for these:
#BootPartMB_INSTALL=50
#SwapPartMB_INSTALL=50
#RootPartMB_INSTALL=-1

## Default answers for these:
#ViewInstalled_DEFAULT=no
#LoginEnabled_DEFAULT=yes
#Reformat_DEFAULT=yes
#WhichDisk_DEFAULT=hda

## PACKAGES changes; force these 2 packages to 'Required'
#PACKAGES_filesystem-man=R
#PACKAGES_beecrypt-devel=R

## Kernel selection:
#Kernel_DEFAULT=2
#Kernel_INSTALL=0
